<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--[SuppressMessage("Microsoft.Security", "CS002")]-->
    <!--[SuppressMessage("Microsoft.Security", "CS002")]-->
    <add name="ADOConn" connectionString="Data Source=AzureSulpHur1;Initial Catalog=SulpHur;User Id=sulphurdebug;Password=```111qqq" />
    <add name="ConnectionString_SCCM_ITL_TLT" connectionString="Data Source=Rrnovasql02;Initial Catalog=SCCM_ITL_TLT;Persist Security Info=True;User ID=IntlUser;Password=7nt&gt;/tUm~l1I&quot;!P*4wN1p6GW0RV~q0" />
    <add name="SulpHurEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AzureSulpHur1;initial catalog=SulpHur;persist security info=True;User Id=sulphurdebug;Password=```111qqq;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SulpHurEntitiesForReport" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=azuresulphur1;initial catalog=SulpHur;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AllLan" value="CHS,CHT,CSY,DEU,ENU,ESN,FRA,HUN,ITA,JPN,KOR,NLD,PLK,PTB,PTG,RUS,SVE,TRK" />
    <add key="BasicRules" value="Access Key non Duplicate Rule|Access Key Duplicate Rule|Overlap Rule|Tab Order Rule|Text Truncation Rule|Control Truncation Rule|Spelling Rule" />
    <add key="LanguageRelatedBasicRules" value="Overlap Rule|Text Truncation Rule|Control Truncation Rule" />
    <add key="LanguageNotRelatedBasicRules" value="Access Key non Duplicate Rule|Tab Order Rule|Spelling Rule" />
    <add key="OSTypeNotRelatedRules" value="Critical Access Key Rule|Access Key Rule|Access Key non Duplicate Rule|Access Key Duplicate Rule" />
    <add key="OSTypeLanguageNotRelatedRules" value="Tab Order Rule|Automation ID Miss Rule" />
    <add key="EnabledRules" value="Access Key non Duplicate Rule|Overlap Rule|Tab Order Rule|Text Truncation Rule|Control Truncation Rule|Spelling Rule" />
    <add key="OSRelatedRules" value="Overlap Rule|Text Truncation Rule|Control Truncation Rule" />
    <add key="OSNotRelatedRules" value="Access Key non Duplicate Rule|Access Key Duplicate Rule|Tab Order Rule|Spelling Rule|unlocalization Rule" />
    <add key="UIDiffHiddenRules" value="unlocalization Rule" />
    <add key="UIDiffRulesForENU" value="Access Key non Duplicate Rule|Tab Order Rule|Spelling Rule" />
    <add key="Temp_ENU_ITCodeDefect_BATranslation" value="Spelling Rule" />
    <add key="Temp_ENU_ITCodeDefect_BALocalizability" value="Overlap Rule|Text Truncation Rule|Control Truncation Rule" />
    <add key="Temp_ENU_ITCodeDefect_BAAccessbility" value="Tab Order Rule|Access Key non Duplicate Rule|Access Key Duplicate Rule" />
    <add key="Temp_NENU_ITLocalization_BATranslation" value="Spelling Rule" />
    <add key="Temp_NENU_ITLocalization_BALocalization" value="Overlap Rule|Text Truncation Rule|Control Truncation Rule|Access Key non Duplicate Rule|Access Key Duplicate Rule" />
    <add key="ServerName" value="AzureSulpHur1" />
    <add key="WebSiteName" value="SulpHurReports" />
    <add key="MainPageName" value="CapturedUIReport.aspx" />
    <add key="FontPath" value="c:\Windows\fonts\" />
    <add key="filebugFileFolder" value="F:\SulpHur\SulpHurService\FileBugDetail\" />
    <add key="filevsobugFileFolder" value="F:\SulpHur\SulpHurService\FileVsoBugDetail\" />
    <add key="SMSAccountName" value="smsaccess" />
    <add key="UIDiffResultPathBase" value="\\scfs\Teams\TAO\AdminConsole\Retail\Diff\Result\" />
    <add key="UIDiffResultPathRelated" value="\Result\PageNav.xml" />
    <add key="MSAzureBug_IterationPath" value="Configmgr\SCCM\2211" />
    <add key="MSCepeaxFeedback_Tags" value="2211" />
    <add key="PDFFolder" value="\\scfs\Users\INTL\SulphurBugFiles" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>