* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper {
    width: 1544px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 52px;
    background-color: #18b3e2;
    margin: 5px;

}

.header .logo {
    cursor: pointer;
    position: absolute;
    left: 9%;
}

.header h1 img {
    width: 34px;
    height: 40px;
    padding-top: 10px;
    line-height: 40px;
}

.header h1 span{ 
    position: absolute;
    top: 10%;
    width: 232px;
    padding-left: 10px;    
    line-height: 40px;
    font-size: 26px;
    color: white;
    
}

/* 导航 */
.nav {
    float: left;
    height: 52px;
    margin-left: 70px;
}

.nav li {
    float: left;
    margin-right: 26px;
}

.nav li a {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    padding: 0 9px;
    font-size: 18px;
    color: #050505;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
    position: absolute;
    right: 50%;
    width: 550px;
    height: 45px;
    transform: translate(58%, -1%);
    padding: 5px 0;
    vertical-align: middle;
}

.search input {
    width: 400px;
    height: 42px;
    border: 0;
    vertical-align: middle;
}

/* 控制placeholder的样式   */
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf
}

.search button {
    /* float: left; */
    Width: 100px;
    height: 42px;
    background-color: #5cd669f6;
    color: white;
    font-size: 20px;
    vertical-align: middle;
    border: 0;
    /* background-image: url(../images/btn.png); */
}

.search button:hover {
    background-color: #5cd66884;
}

.user {
    position: absolute;
    left: 81%;
    display: inline-block;
    height: 52px;
    line-height: 52px;
}

.user img {
    /* 调节图片垂直对齐方式 */
    vertical-align: middle;
    padding-right: 4px;
    padding-bottom: 4px;
}

.user span {
    color: white;
    font-size: 25px;
}

.list-category {
    position: relative; 
    height: auto;
    margin: 0 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
}

.list-category .wrapper {
    height: auto;
    margin-top: 6px;
    /* background-color: rgb(178, 201, 178); */
}

.list-category .category-item {
    height: 45px;
    margin: 1px auto;
    /* background-color: pink; */
    line-height: 45px;
}

.list-category span {
    /* background-color: pink; */
    /* float: left; */
    margin: 0 1px;
    padding: 0 28px 0 0;
    text-align: center;
}

.list-category .one {
    width: 140px;
    height: 45px;
    text-align: left;
}

.content {
    margin-top: 10px;
    box-shadow: 1px 1px 4px 2px rgba(118, 118, 118, 0.2);
}

.list-category .ConditionFilter {
    margin: 5px 0px;
    height: 40px;
    line-height: 40px;
}

/* .content .ResultsTableContainer {
    width: 1500px;
} */
.content .ResultsTableContainer tr {    
    background-color: #f8f8f8;
}

.content .ResultsTableContainer tr th {
    width: 200px;
    height: 45px;
    line-height: 30px;
    padding: auto 10px;
    color: black;
}

.content .ResultsTableContainer .ResultsTable .lineheader {
    background-color: rgba(191, 228, 211, .1);
}

.content .ResultsTableContainer .ResultsTable .textMessage {
    white-space: pre-line;
    width: 100%;
    margin: 5px 0 10px 28px;
    font-size: 18px;
    font-weight: 400;
}