<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="milestone" value="SCCMv5|SCCMv5_SP1|SCCMv5_R2|SCCMv5_R3"/>
    <add key="novashafs01" value="\\mermaid\builds\ENU\sms"/>
    <add key="ziz-dfsr01" value="\\ziz-dfsr01\MERMAID"/>
    <add key="SourceCodeFolder" value="D:\SCCM\sms\AdminConsole"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="ProviderDiff.aspx">
    <system.web>
      <authorization>
        <allow users="redmond\lixuan"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="SulpHurEntities" connectionString="metadata=res://*/DiffModel.csdl|res://*/DiffModel.ssdl|res://*/DiffModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SulphurServer14.redmond.corp.microsoft.com;initial catalog=SulpHur;persist security info=True;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MS.Internal.SulpHur.SulpHurService.Properties.Settings.SulpHurConnectionString" connectionString="data source=SulphurServer14.redmond.corp.microsoft.com;initial catalog=SulpHur;persist security info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>