<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="AppSettingGroup">
      <section name="AppSettings" type="SulpHur.InternalRules.StartupConfigSection,SulpHur.InternalRules" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <AppSettingGroup>
    <AppSettings>
      <ButtonSizeItem Width="100" Height="25"></ButtonSizeItem>
      <ForbiddenWordsCollection>
        <add Value="unnx"></add>
        <add Value="xxxx"></add>
      </ForbiddenWordsCollection>
    </AppSettings>
  </AppSettingGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
